<h2
  id="description"
  [style.background]="descriptionColor"
  (mouseenter)="hover = true"
  (mouseleave)="hover = false"
  (click)="descriptionClick()"
>
  {{ number }}
  {{ section.description }}
</h2>

<div id="body" *ngIf="!click">
  <app-subsection *ngFor="let subsection of section.subsections"
                  [subsection]="subsection"
                  [number]="section.subsections.indexOf(subsection) + 1"
  ></app-subsection>
  <app-subsection
    *ngIf="!isNewSection"
    [subsection]="newSubsectionBanner"
    [isNewSubsection]="true"
    (descriptionClick)="createNewSubsection()"
  ></app-subsection>
</div>
