<div id="subsection"
     (mouseenter)="hover = true"
     (mouseleave)="hover = false"
     [style.background]="color"
>
  <div id="description"
       [style.border-bottom]="hideBody ? '' : '2px solid #000000'"
       [style.margin]="isNewSubsection ? '0 2% 0 2%' : '1% 2% 1% 2%'"
       (click)="descriptionClick()"
  >
    <div [style.text-align]="isNewSubsection ? 'center' : ''">
      <h3>
        {{ number }} {{ subsection.description }}
      </h3>
      <p id="bodyHideClicker" (click)="hideBody = !hideBody" *ngIf="!isNewSubsection">
        [{{hideBody ? 'show' : 'hide'}}]
      </p>
    </div>
    <div *ngIf="!hideBody">
      &nbsp;
      &nbsp;
      <p id="definitionsHideClicker"
         (click)="hideDefinitions = !hideDefinitions"
         [style.font-weight]="hideDefinitions ? '' : 'bold'"
      >
        [definitions]
      </p>
      &nbsp;
      <span id="propositionsHideClicker"
            [style.font-weight]="hidePropositions? '' : 'bold'"
            (click)="hidePropositions = !hidePropositions"
      >
        [propositions]
      </span>
    </div>
  </div>

  <div id="body" *ngIf="!hideBody">
    <ng-container *ngIf="!hideDefinitions">
      <app-defintion *ngFor="let definition of subsection.definitions"
        [definition]="definition"
        [number]="subsection.definitions.indexOf(definition) + 1"
      ></app-defintion>
    </ng-container>
    <ng-container *ngIf="!hidePropositions">
      <app-proposition *ngFor="let proposition of subsection.propositions"
                       [proposition]="proposition"
                       [number]="subsection.propositions.indexOf(proposition) + 1"
      ></app-proposition>
    </ng-container>
  </div>

</div>
