#description {
  font-size: 120%;
  margin: 2% 2% 2% 2%;
  border-bottom: 2px solid #000000;
}

#body {
  margin: 2% 4% 2% 4%;
}

h3, p {
  display: inline-block;
}

#hideBody {
  float: right;
}

#hideBody:hover {
  text-decoration: underline;
}
