<div id="definition">
  <table>
    <tr>
      <td rowspan="2"
          id="hideClicker"
          [style.background]="hideClickerColor"
          (mouseenter)="hover = true"
          (mouseleave)="hover = false"
          (click)="click = !click"
      >
        <!--span id="hideClicker"></span-->
      </td>
      <td>
        {{ number }} Defintion of {{ definition.description }}
      </td>
    </tr>
    <tr>
      <td *ngIf="!click">
        <ng-katex [equation]="definition.latex"></ng-katex>
      </td>
    </tr>
  </table>
</div>
